* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inbt {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #2e3d49;
  margin: 100px;
  margin-bottom: 50px;
}
.ccard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ccardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dcard {
  margin: 10px;
  width: 300px;
  height: 200px;
  background: linear-gradient(to right, #a83279, #ffbb3b);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.dcard .fpart {
  width: inherit;
  height: 150px;
  color: #000;
  text-align: left;
  overflow: hidden;
}
.dcard .fpart img {
  width: 100%;
  height: 100%;
}
.dcard .spart {
  padding: 10px;
  padding-right: 0px;
  padding-top: 14px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}
#circle {
  width: 20px;
  margin-left: 180px;
  cursor: pointer;
}
.dcard:hover .fpart img {
  transition: 0.8s ease;
  transform: scale(1.2);
}
a {
  text-decoration: none;
}
.title2 {
  position: relative;
  padding-top: 150px;
  margin-left: 100px;
}
.title2 span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #2e3d49;
}
.title2 .description {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #2e3d49;
  margin-bottom: 10px;
}
.videobox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.organic {
  margin: 20px;
  width: 300px;
  height: 160px;
  background: linear-gradient(to right, #ffbb3b, #a83279);
  border-radius: 10px;
}
.organic:hover .orgimg img {
  display: none;
}
.organic .orgimg {
  width: inherit;
  height: 180px;
  background: #000;
  color: #000;
  text-align: left;
  border-top-right-radius: 100px;
  transform: translateY(-19px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.organic .tag {
  position: relative;
  margin-left: 270px;
  top: 10px;
  color: #fff;
}
.organic .orgimg img {
  width: 100%;
  height: 100%;
}
.orgimg iframe {
  height: inherit;
  width: inherit;
}

.click-me {
  justify-content: center;
  display: flex;
}
.click-me a {
  color: #a83279;
  text-decoration: none;
  transition-duration: 0.5s;
  padding: 10px;
  font-weight: bold;
}
.click-me a:hover {
  background: #a83279;
  color: #fff;
}

body {
  background: #fff;
  /* font-family: "Open Sans", sans-serif; */
}

html {
  scroll-behavior: smooth;
}

/* Subjects CSS */
.ccardbox2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dcard2 {
  margin: 20px;
  width: 300px;
  height: 160px;
  background: linear-gradient(to right, #ffbb3b, #a83279);
  border-radius: 10px;
}
.dcard2:hover .fpart2 img {
  display: none;
}
.dcard2 .fpart2 {
  width: inherit;
  height: 180px;
  background: #000;
  color: #000;
  text-align: left;
  border-top-right-radius: 100px;
  transform: translateY(-19px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.dcard2 .tag {
  position: relative;
  margin-left: 270px;
  top: 10px;
  color: #fff;
}
.dcard2 .fpart2 img {
  width: 100%;
  height: 100%;
}
.fpart2 iframe {
  height: inherit;
  width: inherit;
}

.click-me {
  justify-content: center;
  display: flex;
  margin-bottom: 60px;
}
.click-me a {
  color: #a83279;
  text-decoration: none;
  transition-duration: 0.5s;
  padding: 10px;
}
.click-me a:hover {
  background: linear-gradient(to right, #a83279, #ffbb3b);
  color: #fff;
}

/*  */
.title2 {
  position: relative;
  padding-top: 120px;
  margin-left: 100px;
}
.title2 span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #2e3d49;
}
.title2 .shortdesc2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #2e3d49;
  margin-bottom: 10px;
}

/* Sample paper */

.sample {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.lastSample {
  margin-bottom: 100px;
}
.sample ul {
  margin: 20px;
}

.sample ul li {
  padding: 28px;
  list-style: none;
}

.sample ul li a {
  color: #ee1e06;
  width: 300px;
  font-size: 20px;
}

/* Footer CSS */
footer {
  color: #e5e8ef;
  background: black;
  padding: 45px 0;
  width: 100%;
  margin-top: 15px;
}
footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
footer .social-media img {
  width: 22px;
}
footer .logo {
  width: 180px;
  color: #fff;
}
footer .social-media a {
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
}
footer .right-col h1 {
  font-size: 26px;
}
footer .border {
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, #a83279, #ffbb3b);
  margin: 2px;
}

.mail a {
  text-decoration: none;
  color: white;
}
footer .newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  background: #343a40;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  min-width: 260px;
  margin-top: 20px;
  color: white;
}
footer .btn {
  margin-top: 20px;
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: linear-gradient(to right, #a83279, #ffbb3b);
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
footer .btn:hover {
  opacity: 0.7;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .logo {
    transition: 1s;
    margin-left: 30%;
  }

  .quote p,
  .quote h5,
  .play {
    justify-content: center;
    text-align: center;
  }
  .quote p {
    font-size: 30px;
  }
  .service-container .right-side img {
    width: 90%;
  }
  .title {
    margin-top: 0px;
  }
}
@media screen and (max-width: 700px) {
  footer .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  .svg-image img {
    width: 90%;
    margin: 20px;
    /* align-self: center; */
  }
}

@media screen and (max-width: 960px) {
  .logo {
    transition: 1s;
    margin-left: 30%;
  }

  .quote p,
  .quote h5 {
    justify-content: center;
    text-align: center;
  }
  .quote p {
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  .headimg img {
    width: 90%;
    margin: 20px;
  }
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  position: fixed;
  top: 0px;
  z-index: 10;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.nav li,
a,
button {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #2e3d49;
  display: block;
  text-decoration: none;
  text-align: center;
}

.nav ul li img {
  width: 20px;
  margin-right: 10px;
  transform: translateY(5px);
  padding-top: 5px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav ul li a {
  transition: all 0.3s ease 0s;
}

.nav ul li a:hover {
  color: #ffbb3b;
}
.nav .switch-tab {
  cursor: pointer;
  visibility: hidden;
}

/* .nav .check-box {
  cursor: pointer;
  visibility: hidden;
} */
#icon {
  padding-right: 10px;
  color: #a83279;
}
.title {
  margin-top: 150px;
  margin-left: 100px;
}
.title span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: #2e3d49;
}
.title .shortdesc {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #2e3d49;
  margin-bottom: 50px;
}
.course {
  display: grid;
  justify-content: center;
}

.cbox {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cbox .det {
  height: 60px;
  margin: 10px;
  background: #fff;
  cursor: pointer;
  border-radius: 50px;
}
.cbox .det a {
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #a83279;
  font-size: 15px;
  color: #272529;
  font-family: cursive;
  text-decoration: none;
}

.cbox .det a:hover {
  background: linear-gradient(to right, #a83279, #ffbb3b);
  color: white;
}
@media screen and (max-width: 1000px) {
  .nav ul,
  .nav .search {
    display: none;
  }
  .nav #learned-logo {
    transition: 1s ease;
    margin-left: 35%;
    transform: scale(1.2);
  }
  .nav ul li {
    width: 100%;
    margin-bottom: 5px;
  }
  .nav .switch-tab {
    visibility: visible;
    color: #a83279;
  }
  /* .nav .check-box {
    visibility: visible;
  } */
}
@media screen and (max-width: 400px) {
  .nav #learned-logo {
    margin-left: 20%;
  }
}
